p {
    color: green;
}

.small-text {
    font-size: 12px;
    color: #a2a2a2;
    font-weight: 500;
}
.small-header {
    color: #736969
}
.table {
    border-radius: 5px;
    width: 65%;
  margin: auto;
    float: none;
}
span:before{
    content:" "; 
    display:inline-block; 
    width:3px;
}
ul {
    list-style: none;
  }
  .header__logo-image {
    width: 140px;
}